.prism-big-play-btn {
  position: absolute !important;
  width: rem(40) !important;
  height: rem(40) !important;
  top: 0 !important;;
  left: 0 !important;
  right: 0 !important;;
  bottom: 0 !important;
  margin: auto auto !important;
  z-index: 100 !important;
  .outter {
    border: none !important;
  }
}

// 背景图
.prism-cover {
  z-index: 5 !important;
}

video {
  z-index: 15 !important;
  object-fit: cover;
  //视频居中
  &.center {
    object-position: 50% 50% !important;
  }
}

.prism-controlbar {
  display: block !important;
  z-index: 20 !important;
}

// 播放按钮
.prism-player .prism-animation {
  z-index: 20 !important;
}

