.prism-big-play-btn {
  position: absolute;
  width: rem(40) !important;
  height: rem(40) !important;
  top: 0;
  left: 0 !important;
  right: 0;
  bottom: 0 !important;
  margin: auto auto;
  z-index: 100 !important;
  .outter {
    border: none !important;
  }
}
